/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* CSS Zen Garden Top Level Styles || William Duffy || www.wdart.co.uk || 01 March 2006
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

body {	
	color: #AB9F82;
	font: 9pt/13pt georgia, sans-serif;
	margin: 0px; padding: 0px;	
	background: black url(images/background_body.jpg) no-repeat center top;
	}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

abbr {
	border-bottom: 1px dotted #AB9F82;
	cursor: help;
	font-weight: bold;
	}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Container Styles
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.page-wrapper {
	margin: 0px auto 0px auto;
	position: relative;
	width: 750px;
	}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Intro Styles
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.intro header {
	background: transparent url(images/background_pageheader.jpg) no-repeat 17px 22px;
	width: 464px; height: 446px;
	}
	
	.intro header h1, .intro header h2 {
		margin: 0px;

		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		}
					
			
.intro .summary {
	background: transparent url(images/txt_quicksummary.gif) no-repeat left top;
	color: #D9D0B7;
	position: absolute; top: 186px; left: 336px;
	width: 172px; height: 160px;
	}
	
	.intro .summary p:first-child {
		display: none;
		}

	.intro .summary p:last-child {
		background: transparent url(images/bullet_download.gif) no-repeat 0px 4px;		
		color: #E8D6A3;
		padding: 0px 0px 0px 12px;
		position: absolute; top: 1110px; left: 203px; z-index: 100;
		width: 150px;
		}
		
		.intro .summary p:last-child a {color: #DEC35A; text-decoration: underline;}
		.intro .summary p:last-child a:visited {color: #DEC35A;}
		.intro .summary p:last-child a:hover {color: #E8D6A3;}


.intro .preamble {
	background: transparent url(images/breakrule.gif) no-repeat center bottom;
	padding: 25px 0px 37px 0px;
	width: 464px;
	}

	.intro .preamble p:nth-child(2), .intro .preamble p:nth-child(3), .intro .preamble p:nth-child(4), .intro .preamble p:nth-child(5), .intro .preamble p:nth-child(6) {
		padding: 0px 0px 0px 49px;
		}

	.intro .preamble h3 {
		background: transparent url(images/txt_sowhatisthisabout.gif) no-repeat left top;
		height: 25px;
		margin: 0px 0px -9px 27px;

		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		}
		

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* supportingText Styles
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.supporting .explanation, .supporting .participation, .supporting .benefits, .supporting .requirements {
	background: transparent url(images/breakrule.gif) no-repeat center bottom;
	padding: 25px 0px 37px 0px;
	width: 464px;
	}

	.supporting p:nth-child(2), .supporting p:nth-child(3), .supporting p:nth-child(4), .supporting p:nth-child(5), .supporting p:nth-child(6) {
		padding: 0px 0px 0px 49px;
		} 
		
		.supporting a {color: #D2C9BB;}
		.supporting a:visited {color: #D2C9BB;}
		.supporting a:hover {color: #D34E1A;}
	
	.supporting h3 {
		height: 25px;
		margin: 0px 0px -9px 27px;

		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		}

		.supporting .explanation h3 {background: transparent url(images/txt_participation.gif) no-repeat left top;}
		.supporting .participation h3 {background: transparent url(images/txt_benefits.gif) no-repeat left top;}
		.supporting .benefits h3 {background: transparent url(images/txt_participation.gif) no-repeat left top;}
		.supporting .requirements h3 {background: transparent url(images/txt_requirements.gif) no-repeat left top;}

.supporting footer {
	background: transparent url(images/background_footer.jpg) no-repeat right bottom;
	height: 20px;
	padding: 152px 0px 0px 0px;
	text-align: right;
	}
	
	.supporting footer a {color: #CCAD50; font-weight: bold; text-decoration: none;}
	.supporting footer a:visited {color: #CCAD50;}
	.supporting footer a:hover {color: #D2C9BB;}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* linkList Styles
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.sidebar {
	color: #E8D6A3;
	position: absolute;	top: 75px; left: 516px;
	width: 205px;
	}

	.sidebar a {color: #E8D6A3; text-decoration: none;}
	.sidebar a:visited {color: #E8D6A3;}
	.sidebar a:hover {color: #DEC35A; text-decoration: underline;}


	/* Begin lselect styles */
	.sidebar .design-selection {
		font-style: italic;
		}
	
		.sidebar .design-selection h3 {
			background: transparent url(images/txt_designs.gif) no-repeat left top;
			margin: 0px 0px -17px 0px;
			width: 168px; height: 79px;

			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			} 
			
		.sidebar .design-selection ul {
			list-style-type: none;
			margin: 0px 0px 0px 20px; padding: 0px;
			}
			
			.sidebar .design-selection ul li {
				background: transparent url(images/bullet_designs.gif) no-repeat left 4px;
				padding: 0px 0px 12px 14px;
				}
	
		.sidebar .design-selection a {display: block; font-style: normal; font-weight: bold;}
		.sidebar .design-selection a.designer-name {display: inline; font-weight: normal;}
	/* End lselect styles */
	
	
	/* Begin larchives styles */
	.sidebar .design-archives h3 {
		background: transparent url(images/txt_archives.gif) no-repeat left top;		
		margin: 0px 0px -17px 0px;
		width: 168px; height: 79px;

		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		} 
		
	.sidebar .design-archives ul {
		list-style-type: none;
		margin: 0px 0px 0px 20px; padding: 0px;		
		}
		
		.sidebar .design-archives ul li {
			background: transparent url(images/bullet_designs.gif) no-repeat left 4px;
			padding: 0px 0px 0px 14px;
			}
	/* End larchives styles */
	
	
	/* Begin lresources styles */
	.sidebar .zen-resources {
		background: transparent url(images/background_lresources.jpg) no-repeat left top;		
		padding: 117px 0px 0px 38px;
		position: absolute; top: 950px; left: -37px;
		width: 233px; height: 422px;
		}
		
		.sidebar .zen-resources h3 {
			background: transparent url(images/txt_resources.gif) no-repeat left top;
			margin: 0px 0px -17px 0px;
			width: 168px; height: 79px;

			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			} 
			
	.sidebar .zen-resources ul {
		list-style-type: none;
		margin: 0px 0px 0px 20px; padding: 0px;
		}
		
		.sidebar .zen-resources ul li {
			background: transparent url(images/bullet_resources.gif) no-repeat left 5px;
			padding: 0px 0px 0px 14px;
			}
	/* End lresources styles */
	
	