RewriteEngine On
Options +FollowSymlinks

# dude built a design browser. Cool.
# dude ran ads on it. Not as.
SetEnvIfNoCase Referer ".*coret.org$" BadReferrer
order deny,allow
deny from env=BadReferrer

<FilesMatch "^.*submissions\.json$">
  SetHandler php-script
</FilesMatch>

<FilesMatch "^.*index\.html$">
  SetHandler php-script
</FilesMatch>
	

# to-do:
# redirect /zengarden-sample.css to /examples/style.css
