#
# Canonical Server Name: http://zen/
#

RewriteEngine On
Options +FollowSymlinks


# dude built a design browser. Cool.
# dude ran ads on it. Not as.
SetEnvIfNoCase Referer ".*coret.org$" BadReferrer
order deny,allow
deny from env=BadReferrer


# allow submissions.json to be executed as php
<FilesMatch "^.*submissions\.json$">
  SetHandler php-script
</FilesMatch>


# permanent redirect of old file
RedirectMatch 301 ^/zengarden-sample\.css$ /examples/style.css

# remove trailing .php from /examples/index.php
## COMMENTING OUT FOR THE MOMENT - JC
## RewriteCond %{REQUEST_FILENAME} !-f
## RewriteCond %{REQUEST_FILENAME} !-d
## RewriteRule ^(.*)$ /examples/index.php?/$1 [L]

#
#
# New Rewrite Testing Work
#
#

# Below rules derived from http://www.webmasterworld.com/apache/4229371-1-30.htm
RewriteCond %{QUERY_STRING} ^cssfile\=\/([0-9]+)\/[0-9]+\.css&page\=([0-9+])
RewriteRule ^(.*)$ http://zen/%1/page%2/? [R=301]

# works for single query cssfile
RewriteCond %{QUERY_STRING} ^cssfile\=\/([0-9]+)\/[0-9]+\.css
RewriteRule ^(.*)$ http://zen/%1/? [R=301]

# 



# Externally redirect to add missing trailing slash to URLs with no filetype
RewriteCond $1 !(\.[a-z0-9]{1,5}|/)$ [NC]
RewriteCond $1 (..*)$ [NC] # so's we don't add a slash onto nothing and end up w/ '//'
RewriteRule ^(.*)$ http://zen/$1/ [R=301,L]

# Externally redirect non-blank non-canonical hostname request to canonical hostname
# (if not already done by the above rule)
RewriteCond %{HTTP_HOST} !^(zen)?$
RewriteRule ^(.*)$ http://zen/$1 [R=301,L]

# Rewrite all requests which do not resolve to existing files to the CMS script, except
# for image, css, and JS file requests, none of which need to be handled by the CMS,
# and requests for index.php itself (to avoid a wasteful second-pass exists check).
RewriteCond $1 !(^index\.php|\.(gif|jpe?g|png|css|js))$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Make simpler URLs canonical
# working on it ---RewriteRule ^\?cssfile=\/(\d+)\/\d+\.css(\&page=(\d+))?$ http://google.com [R=301]
# RewriteRule ^\?cssfile=\/([0-9]{1,4})\/[0-9]{1,4}\.css$ http://local/ [R=301,QSA]

# Send traffic to index.php w/ appropriate variables
RewriteRule ^([\d]*)(\/page(.*))?/ zen.php?css=/$1/$1.css&pg=$3 [L]
