/*
CSS ZEN GARDEN

SUBMISSION BY THOMAS KIMURA

*/

/*Import google fonts to be used*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);


/*Every screen size*/
@media only screen
{   
    /*highlight color*/
    ::selection{opacity:1;color:#fff; background-color:#f05253;}
    :-moz-selection{opacity:1;color:#fff; background-color:#f05253;}

body, html {
  height: 100%;
}

    /*to everything*/
    body{
        font-family: 'Open Sans', sans-serif;
        font-size:1em;
        line-height:1.75em;
        color:#555;
        margin:0 auto;
        width:100%;
    }
    
    /*headers*/
    h3
    {
        font-weight:800;
        padding-top:50px;
        margin: auto;
        max-width:600px;
        padding-left:20px;
        padding-right:20px;
        font-size:2em;
        line-height: 1.5em;
        text-transform:capitalize;
        color:#444;
    }
    
    /*all paragraphs*/
    /*max width 600px*/
    p
    {
        margin:auto;
        padding-top:5px;
        padding-bottom:10px;
        padding-left:20px;
        padding-right:20px;
        max-width:600px;
    }
    
    /*links are darker*/
    a
    {
        color:#222;
        text-decoration:none;
        font-weight:800;
    }
    
    /*links change on hover*/
    a:hover
    {
        opacity:0.5;
    }
    
    /*header*/
    header
    {
        padding-top:30px;
        padding-bottom:30px;
        padding-left:20px;
        background-color:#f8efef;
        background-size:cover;
        color:#f05253;
    }
    
    /*main title*/
    header h1
    {
        font-weight:700;
        font-size:4em;
        line-height:65px;
        margin:0px;
        padding-top:20px;
        padding-left:20px;
    }
    
    /*subtitle*/
    header h2
    {
        font-size:2em;
        font-weight:600;
        margin:0px;
        padding-left:20px;
    }
    
    /*summary*/
    .summary
    {   
        padding-top:50px;
        padding-bottom:50px;
        background-color:#f8efef;
        color:#555;
        margin-bottom:1500px; /*leave space to fit design slection,archive and resources*/
        font-weight:200;
    }

    /*summary links with border*/
    .summary a
    {
        color:#555;
        font-weight:600;
        padding:5px;
        border:1px #555 solid;
        white-space: nowrap;
    }
    
    /*summary hover*/
    .summary a:hover
    {
        opacity:0.5;
    }

    .summary p
    {
        margin-left:20px;
    }

    /*first paragraph larger*/
    .summary p:first-child
    {
        font-size:2em;
        line-height:1.5em;
    }
    
    .requirements [role=contentinfo]
    {
        font-family: 'Merriweather', serif;
        font-size:2em;
        line-height:1.5em;
        font-weight:400;
        color:#555;
        margin:auto;
        max-width:600px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .requirements [role=contentinfo] a
    {
        font-family: 'Merriweather', serif;
        opacity:1;
        color:#444#;
        font-weight:800;
    }
    
    .requirements [role=contentinfo] a:hover
    {
        opacity:0.5;
    }

    /*footer*/
    footer
    {
        background-color:#f8efef;
        padding-top: 50px;
        padding-bottom: 50px;
        margin:auto;
        width:100%;
        text-transform:uppercase;
        text-align:center;
        font-weight:200;
    }
    
    footer a
    {
        padding-right:10px;
        color:#444;
    }
    
    /*resource links*/
    .zen-resources
    {
        margin:auto;
        max-width:600px;
        padding-top:50px;
        padding-right:20px;
    }

    /*no resource title*/
    .zen-resources h3
    {
        display:none;
    }
    
    /*float links to left*/
    .zen-resources ul li
    {
        display: inline;
        list-style-type: none;
        padding:10px;
        margin-left:10px;
        float:right;    
        opacity:0.5;
    }
    
    /*spacing above resources*/
    .zen-resources ul
    {
        margin-top:100px;
    }

    /*sidebar*/
    .sidebar
    {
        position:absolute;
        top:1000px; /*start 1000px from top*/
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    /*sidebar wrapper*/
    .wrapper
    {
        margin: auto;
        max-width: 600px;
    }
    
    /*all sidebar lists*/
    .sidebar ul
    {
        list-style: none;
        padding-left: 0px;
    }

    /*all sidebar list items*/
    .sidebar li
    {
        padding:10px;
        margin-bottom:10px;
        border: solid 1px #444;
    }

    /*sidebar title*/
    .sidebar h3
    {
        font-family: 'Open Sans', sans-serif;
        padding: 0px;
        text-align:center;
        text-transform:uppercase;
        color:#444;
    }

    /*designer name*/
    .designer-name
    {
        font-family: 'Merriweather', serif;
    }
    
    /*select a design boxes*/
        .design-selection li
    {
        padding:20px;
        color:#444;
        border:1px #f8efef solid;
    }
    
    /*links in design selection*/
    .design-selection li a
    {
        color:#444;
    }
    
    /*hover over boxes*/
    .design-selection li:hover
    {
        background-color:#f8efef;
    }
    
    /*hover links in design selection*/
    .design-selection li a:hover
    {
        opacity:1;
        color:#f05253;
    }

    /*archives aligned right*/
    .design-archives li
    {
        border:none;
        float:right;
        opacity:0.5;
    }

    /*archives do not display title*/
    .archives 
    {
    display:none;
    }
    
    .benefits
    {
        background-image: url(img/trophy.png);
        background-repeat: no-repeat;
        background-size: 200px;
        background-position: center;
        background-position:top;
        padding-top: 200px;
        margin-top:200px;
        margin-bottom: 200px;
        text-align: center;
    }
    .benefits p
    {
        max-width:400px;
    }

}

/*larger screen sizes*/
/*move the sidebar and space for sidebar according to screen dimenensions*/
@media only screen and (min-width: 400px) 
{
    .summary
    {
        margin-bottom:1500px; /*leave space to fit design slection,archive and resources*/
    }
    .sidebar
    {
        top:800px;
    }
}  

@media only screen and (min-width: 500px) 
{
    .summary
    {
        margin-bottom:1400px; /*leave space to fit design slection,archive and resources*/
    }
    .sidebar
    {
        top:700px;
    }
}  

@media only screen and (min-width: 620px) 
{
    .summary
    {
        margin-bottom:1300px; /*leave space to fit design slection,archive and resources*/
    }
    .sidebar
    {
        top:600px;
    }
   
}  

/*shift header over on larger screens*/
@media only screen and (min-width: 1000px) 
{
    header
    {
        
    }
    
    header h1, header h2
    {
        
    }
    .summary p 
    {
       
    }
}  

@media only screen and (min-width: 1000px) 
{
    .summary
    {
        margin-bottom:1300px; /*leave space to fit design slection,archive and resources*/
        background-image: url(img/title2.png); 
        background-size:cover;
        background-repeat:no-repeat;
    }
    .sidebar
    {
        top:100vh; /*sidebar will sit right below first fold*/
        padding-top:100px;
    }
    header
    {
        height: 15vh;
        padding-top: 5vh;
        padding-bottom: 0px;
    }
    .summary
    {
        height:80vh;
        padding-top:0vh;
        padding-bottom:0px;
        
    }
} 
