
/*	==================================================
	CSS Zen Garden 2013
	
	Theme: Fountain Kiss
	Developed by @eyesofjeremy
	http://jeremycarlson.com
	
	--------------------------------------------------	*/

/*	==================================================
	=Typography
	
	First, let's talk type, colors, that kind of thing.
	--------------------------------------------------	*/
/*
    Ooh, Ultra, you're so sexy!
*/
@import url(http://fonts.googleapis.com/css?family=Ultra);

body {
	font-family: Georgia, serif;
    line-height: 1.4;
    padding: 0;
    margin: 0;
	}

body, .preamble h3 {
    color: #603;
	}

abbr { border-bottom: 2px dotted #963 }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
*/
::-moz-selection{ background: #fdf7a1; color:#804; text-shadow: none; }
::selection { background:#fdf7a1; color:#804; text-shadow: none; } 

a abbr { border-bottom:none }

a:link { color:#000 }
a:visited { color:#333 }
a:hover { background:#ccf }

.intro a, .supporting a {
    color: #804;
}
.intro a:visited, .supporting a:visited {
    color: #935;
}

h1, h2, h3, a, footer:after {
	font-family: 'Ultra', serif;
	font-weight: normal;
	font-style: normal;
    text-decoration: none;
}

h3:before, h3:after, footer:before {
    font-family: Georgia;
    font-style: italic;
}

h1, h3 {
	color: #fff;
}
.supporting h3 {
    background-color: #804;
}

.sidebar h3 {
    color: #fff;
    background: #5b0a2a;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*	==================================================
	=Layout
	
	All righty then. Let's roll.
	--------------------------------------------------	*/

.page-wrapper {
    position: relative;
    z-index: 2;
    max-width: 460px;
    padding: 30px 0 0;
    margin: 0 0 0 120px;	
	-webkit-box-shadow: 0 0 24px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 0 24px rgba(0,0,0,0.3);
	        box-shadow: 0 0 24px rgba(0,0,0,0.3);

	}

@media screen and (max-width: 580px), screen and (max-device-width: 580px) {
    body {
        text-align: right;
    }
    .page-wrapper {
        margin-left: auto;
        text-align: left;
    }    
}

body, .extra1, .design-selection nav, .design-archives ul, .zen-resources ul {
	background: #3c1d08 url('kiss.jpg') no-repeat fixed 50% top;
}
.page-wrapper, .supporting>div, .supporting footer {
	background: #fceec6 url('kiss_light.jpg') no-repeat fixed 50% top;
}

@media screen and (min-width: 1201px) {
    body, .extra1, .design-selection nav, .design-archives ul, .zen-resources ul, 
    .page-wrapper, .supporting>div, .supporting footer {
        background-size: 100%; /* if wider than bg image, make those suckers grow! */
    }
}

.intro {
    background: rgba(250,223,154,0.3);
}
.sidebar h3 {
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 1em 0;
    margin: 0;
}

@media screen and (max-device-width: 1024px) {
    /*
    Necessary b/c Mobile Safari does not support fixed background positioning
    http://stackoverflow.com/questions/3011226/using-background-attachmentfixed-in-safari-on-the-ipad
    */
    .extra1 {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-size: 1024px;
    }
    .intro, .supporting>div, .supporting footer {
        background: rgba(250,223,154,0.6);
    }
    .page-wrapper, .design-selection nav, 
    .design-archives ul, 
    .zen-resources ul {
        background: none;
    }
}
@media screen and (max-device-width: 600px) { .extra1 { background-size: 800px } }
@media screen and (max-device-width: 400px) { .extra1 { background-size: 600px } }

.intro {
	padding: 96px 20px 36px;
	position: relative;
	text-align: center;
	margin: -30px 0 0;
	font-size: 88%;
	-webkit-transition: all 2s ease;
	   -moz-transition: all 2s ease;
	    -ms-transition: all 2s ease;
	     -o-transition: all 2s ease;
	        transition: all 2s ease;

}
@media screen and (min-width: 960px) {
    .intro {
    	background: rgba(250,223,154,0.6);
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;

    	padding: 36px 72px;
    	margin: 0 -52px 30px;
   }
    .intro div:last-child p:last-child {
        margin: 0 20px;
    }

    header[role=banner], .summary {
        position: fixed;
    }

    header[role=banner] {
        top: 120px;
        right: 0;
    }

    .summary {
        width: 22em;
        top: 10em;
        right: 3em;
    }

    .summary p {
        text-shadow: 0 0 8px #fff;
    }

}

/* h1 - "CSS Zen Garden" */
h1 {
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	    -ms-transition: all 0.2s ease-out;
	     -o-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;

	text-shadow: 0 0 48px rgba(0,0,0,0.3);
	text-transform: uppercase;
    width: 1em;
    font-size: 48px;
    text-align: center;
    word-wrap: break-word;
    position: fixed;
    line-height: .8;
    left:-.3em;
    top:0;
}
@media screen and (min-height: 650px) { h1 { font-size: 60px } }
@media screen and (min-height: 800px) { h1 { font-size: 72px } }
@media screen and (min-height: 950px) { h1 { font-size: 96px } }
@media screen and (max-width: 480px) {
    h1 {
        width: auto;
        left: 0;
        right: 0;
        top: -22px;
        font-size: 24px;
        background: #804;
        z-index: 3;
        padding: 0 0 8px;
        -webkit-box-shadow: 0 0 8px #000;
           -moz-box-shadow: 0 0 8px #000;
                box-shadow: 0 0 8px #000;

    }
}

h2 {
	text-align: left;
	width: 10em;
	font-size: 30px;
	line-height: 1;
	position: relative;
	margin: 40px auto 0;
	padding-left: 3.5em;
	top: -120px;
	}
@media screen and (min-width: 960px) {
    h2 {
        margin-left: auto;
    }
}
h2 span {
	color:#fff;
	text-shadow: 0 0 4px rgba(0,0,0,0.3);
	position: absolute;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#aa3355',direction=135,strength=1);
	background: #3c1d08; /* fallback for older browsers who might not get text-shadow OR rgba */
	background: rgba(0,0,0,0);
	top: 0;
	display: block;
	height: 6em;
	line-height: 2;
	clip:rect(0,7.1em,6em,0);
	}

h2:before {
    content: 'of';
    position: absolute;
    z-index: 1;
    left: 48%;
    top: 1.5em;
    color: rgba(136,0,68,1);
    font-family: Georgia;
    font-weight: bold;
    font-style: italic;
}

/* Making little lines around the "of" */
h2 span:before, h2 span:after {
    display: block;
	content: ' ';
	border-top: 3px solid rgb(136,0,68);
	border-top: 3px solid rgba(136,0,68,0.7);
	-webkit-box-shadow: 0 0 4px rgba(136,0,68,0.3);
	   -moz-box-shadow: 0 0 4px rgba(136,0,68,0.3);
	        box-shadow: 0 0 4px rgba(136,0,68,0.3);

	width: 2.5em;
	height: 0;
	position: absolute;
	top: 2em;
	}
h2 span:before {
    left: .1em;
}
h2 span:after {
    right: 3.1em;
}

@media screen and (max-width: 460px), screen and (max-device-width: 460px) {
    .intro {
        padding-top: 36px;
    }
    h2 {
        margin: 0 auto;
        padding: 0;
        top: 0;
        width: auto;
        text-align: center;
    }
    h2:before, h2 span:before, h2 span:after {
        display: none;
    }
    h2 span {
        position: relative;
        clip: auto;
        height: auto;
        margin: 0 auto;
        max-width: 10em;
        line-height: 1.2;
    }
}


.summary p:first-child {
    padding-top: 60px;
    background: url('heart-and-lips.png') no-repeat 50% top;
}

.preamble h3 {
    padding-bottom: 60px;
    background: url('heart-and-lips.png') no-repeat 50% bottom;
}

.preamble h3:before, .preamble h3:after {
    display: block;
}

.preamble h3:before {
    content: 'when walking on ';
}
.preamble h3:after {
    content: ' don’t forget to kiss a stranger.';
}

/*	==================================================
	=Supporting Content
	
    Primarily backgrounds and added content on h3s
	--------------------------------------------------	*/

.supporting h3 {
    margin: 0 -20px 1em;
    padding: .66em 20px;
}
.supporting h3, .supporting footer:before {
	-webkit-box-shadow: inset 0 0 18px rgba(70,15,35,0.8);
	   -moz-box-shadow: inset 0 0 18px rgba(70,15,35,0.8);
	        box-shadow: inset 0 0 18px rgba(70,15,35,0.8);

    background-image: url('sketches.gif');
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.explanation h3 { background-position: 350px 200px }
.participation h3 { background-position: -100px 200px }
.benefits h3 { background-position: -550px 250px }
.requirements h3 { background-position: -1050px 250px }
.supporting footer:before { background-position: -1650px 300px }
@media screen and (min-width: 960px) {
    .explanation h3 { background-position: 350px 450px }
    .participation h3 { background-position: -100px 300px }
    .benefits h3 { background-position: -550px 350px }
    .requirements h3 { background-position: -1050px 350px }
}
@media screen and (max-width: 460px), screen and (max-device-width: 460px) {
    .supporting h3, .supporting footer:before {
        background-attachment: scroll;
    }
    .supporting h3 {
        padding: 1.5em 20px;
    }
    .explanation h3 { background-position: 200px -60px }
    .participation h3 { background-position: -240px -60px }
    .benefits h3 { background-position: -640px -30px }
    .requirements h3 { background-position: -1200px 0 }
    .supporting footer:before { background-position: -1770px bottom }
}

.supporting h3 span {
    display: block;
}
.explanation h3:before, .benefits h3:before,
.explanation h3 span, .benefits h3 span {
    width: 8em;
}
.explanation h3:before {
    content: 'she asked ';
    display: block;
}
.supporting .participation h3, .supporting .requirements h3 {
    text-align: right;
}
.participation h3:before, .requirements h3:before,
.participation h3 span, .requirements h3 span {
    width: 10em;
    margin-left: auto;
    margin-right: 0;
}
.participation h3:before {
    content: 'he requested her ';
    display: block;
}
.benefits h3:before {
    content: 'they became friends with ';
}
.requirements h3:before {
    content: 'before long, though, ';
}
.requirements h3:after {
    content: ' had crept in';
}
.supporting>div {
    padding: 0 20px 3em;
}

div[class^=design] a, div[class^=zen] a {
    padding: 2px 4px;
}

.supporting footer {
    font-size: 125%;
    position: relative;
    margin: 0;
    padding: 0 20px;
    border-bottom: 6em solid #804;
}
.supporting footer:before, .supporting footer:after {
    display: block;
    position: absolute;
    color: #fff;
    right: 20px;
}

.supporting footer:before {
    bottom: -6em;
    height: 5em;
    right: 0;
    left: 0;
    text-align: right;
    padding: 1em 20px 0;
    content: '... and all because of a ';
}

.supporting footer:after {
    bottom: -3.7em;
    content: 'fountain kiss ';
}


/*	==================================================
	=Sidebar Styling
	
	We are using borders liberally instead of padding
	so iOS devices can just have an image shine through.
	Desktop has background: fixed, but mobile Safari no likey.
	--------------------------------------------------	*/

.sidebar .wrapper div {
    border: 20px solid #5b0a2a;
}
.design-resources {
    border-bottom-width: 4em;
}

.design-selection nav, 
.design-archives ul, 
.zen-resources ul {
    position: relative;
    display: block;
    margin: -20px;
    padding: 1em 3em 1em 1em;
    border: 20px solid #5b0a2a;
    -webkit-border-radius: 3em;
       -moz-border-radius: 3em;
            border-radius: 3em;

	-webkit-box-shadow: inset 0 0 18px rgba(136,0,68,0.8);

	   -moz-box-shadow: inset 0 0 18px rgba(136,0,68,0.8);

	        box-shadow: inset 0 0 18px rgba(136,0,68,0.8);

}

.design-selection nav ul, 
.design-archives ul li, 
.zen-resources ul li {
    position: relative;
    z-index: 2;
}
.design-selection nav:before, 
.design-archives ul:before, 
.zen-resources ul:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: 3px solid #804;
    -webkit-border-radius: 1.5em;
       -moz-border-radius: 1.5em;
            border-radius: 1.5em;

}

.sidebar h3 {
    margin: -20px -20px 0;
    padding-top: 30px;
}

.design-selection h3 {
	-webkit-box-shadow: inset 0 12px 18px -6px rgba(0,0,0,0.4);
	   -moz-box-shadow: inset 0 12px 18px -6px rgba(0,0,0,0.4);
	        box-shadow: inset 0 12px 18px -6px rgba(0,0,0,0.4);

}

.sidebar li {
    margin: 5px;
    font-weight: bold;
    font-style: italic;
    color: #804;
    font-size: .75em;
    text-indent: -3em;
    padding-left: 3em;
}


@media screen and (min-width: 960px) and (min-height: 660px) {
    .sidebar .wrapper .design-selection {
        border: none;
        position: fixed;
        top: 345px;
        right: -2em;
        width: 406px;
    }
    .sidebar .design-selection h3 {
        text-align: left;
        background: #804;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;

        padding: .5em 0 .2em 1.5em;
        -webkit-border-radius: 2em 0 0 0;
           -moz-border-radius: 2em 0 0 0;
                border-radius: 2em 0 0 0;

        margin-left: 1.5em;
    }
    .sidebar .design-selection nav {
        border: none;
        margin: 0;
        -webkit-border-radius: 1.5em;
           -moz-border-radius: 1.5em;
                border-radius: 1.5em;

    }
    .sidebar .design-archives h3 {
        -webkit-box-shadow: inset 0 12px 18px -6px rgba(0,0,0,0.4);
           -moz-box-shadow: inset 0 12px 18px -6px rgba(0,0,0,0.4);
                box-shadow: inset 0 12px 18px -6px rgba(0,0,0,0.4);

    }

}

@media screen and (min-width: 960px) and (min-height: 880px) {
    .sidebar .wrapper .design-archives {
        border: none;
        position: fixed;
        top: 650px;
        padding: 0;
        right: -2em;
        width: 406px;
    }
    .sidebar .design-archives h3 {
        text-align: left;
        background: #804;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;

        padding: .5em 0 .2em 1.5em;
        -webkit-border-radius: 2em 0 0 0;
           -moz-border-radius: 2em 0 0 0;
                border-radius: 2em 0 0 0;

        margin-left: 1.5em;
    }
    .sidebar .design-archives ul {
        border: none;
        margin: 0;
        -webkit-border-radius: 1.5em;
           -moz-border-radius: 1.5em;
                border-radius: 1.5em;

    }
    .sidebar .zen-resources h3 {
        -webkit-box-shadow: inset 0 12px 18px -6px rgba(0,0,0,0.4);
           -moz-box-shadow: inset 0 12px 18px -6px rgba(0,0,0,0.4);
                box-shadow: inset 0 12px 18px -6px rgba(0,0,0,0.4);

    }
    .supporting footer:before { background-position: -1650px 480px }    
}

@media screen and (min-width: 960px) and (min-height: 960px) {
    .sidebar .wrapper .zen-resources {
        border: none;
        position: fixed;
        top: 765px;
        padding: 0;
        right: -2em;
        width: 406px;
    }
    .sidebar .zen-resources h3 {
        text-align: left;
        background: #804;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;

        padding: .5em 0 .2em 1.5em;
        margin-left: 1.5em;
    }
    .sidebar .zen-resources ul {
        border: none;
        margin: 0;
        -webkit-border-radius: 1.5em;
           -moz-border-radius: 1.5em;
                border-radius: 1.5em;

    }
    .supporting footer:before { background-position: -1650px bottom }    
}
