/**
* all and (min-width: 1060px)
*
* Anything more than 1060px.
*/

/** $intro */

.preamble {
    left: 50%;
    margin: 0 0 0 -580px;
}

    .preamble:hover {
        left: 50%;
        margin: 0 0 0 -540px;
    }

.summary {
    right: 50%;
    margin: 0 -500px 0 0;
    -moz-transition: -moz-transform 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    -o-transition: -o-transform 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    -webkit-transition: -webkit-transform 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    transition: transform 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
}

    .summary:hover {
        right: 50%;
        margin: 0 -460px 0 0;
    }

header {
    top: 30px;
    left: 50%;
    margin: 0 0 0 -190px;
}

/** $sidebar */

.wrapper {
    top: 55%;
    left: -40px;
    margin-top: -280px;
}

.main div[role="article"] {
    right: -30px;
    -moz-transform: rotateY(-35deg) scale(1);
    -ms-transform: translate(-80px, 0) scale(1);
    -o-transform: rotateY(-35deg) scale(1);
    -webkit-transform: rotateY(-35deg) scale(1);
    transform: rotateY(-35deg) scale(1);
}
