/**
* all and (min-width: 1280px)
*
* Anything more than 1280px.
*/

/** $intro */

header {
    top: 50px;
}

/** $sidebar */

.wrapper {
    top: 50%;
    left: 0;
}

.main div[role="article"] {
    right: 30px;
}
