/**
* all and (min-width: 1710px)
*
* Anything more than 1710px.
*/

/** $main */

.main {
    right: 238px;
    bottom: 460px;
}

    .main div[role="article"] {
        -moz-transform: scale(1.3);
        -ms-transform: scale(1);
        -o-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: rotateY(0) scale(1.3);
    }

footer {
    right: -15px;
    margin-top: -300px;
    width: 120px;
    height: 600px;
}

.zen-validate-html,
.zen-validate-css,
.zen-license,
.zen-github,
.zen-accessibility {
    height: 120px;
    -moz-background-size: auto 600px;
    -o-background-size: auto 600px;
    -webkit-background-size: auto 600px;
    background-size: auto 600px;
}

.zen-validate-html {
    background-position: 0 0;
}

.zen-validate-css {
    background-position: 0 -120px;
}

.zen-github {
    background-position: 0 -240px;
}

.zen-accessibility {
    background-position: 0 -360px;
}

.zen-license {
    background-position: 0 -480px;
}

/** $sidebar */

.sidebar {
    -moz-background-size: 4258px 4258px, 4258px 4258px, 4258px 4258px;
    -o-background-size: 4258px 4258px, 4258px 4258px, 4258px 4258px;
    -webkit-background-size: 4258px 4258px, 4258px 4258px, 4258px 4258px;
    background-size: 4258px 4258px, 4258px 4258px, 4258px 4258px;
}

.wrapper {
    -moz-transform: rotateY(25deg) translate(-76%, -12.5%) scale(0.75);
    -ms-transform: translate(-80px, 0) scale(1);
    -o-transform: rotateY(25deg) translate(-76%, -12.5%) scale(0.75);
    -webkit-transform: rotateY(25deg) translate(-76%, -12.5%) scale(0.75);
    transform: rotateY(25deg) translate(-76%, -12.5%) scale(0.75);
}

.sidebar:hover .wrapper {
    -moz-transform: rotateY(70deg) translate(-8%, 0) scale(1);
    -ms-transform: translate(-80px, 0) scale(1);
    -o-transform: rotateY(70deg) translate(-8%, 0) scale(1);
    -webkit-transform: rotateY(70deg) translate(-8%, 0) scale(1);
    transform: rotateY(70deg) translate(-8%, 0) scale(1);
}
