/**
* all and (min-width: 1921px)
*
* Anything more than 1921px.
*/

/** $page-wrapper */

.page-wrapper::before {
    height: 75px;
}

.page-wrapper::after {
    width: 1020px;
    height: 225px;
}

/** $intro */

header {
    margin: 0 0 0 -322px;
    padding-top: 510px;
    width: 644px;
    height: 95px;
}

h1,
h2 {
    left: 322px;
    margin-left: -180px;
    padding: 12px 6px 0 6px;
    width: 360px;
    height: 45px;
    border-radius: 12px;
    font-size: 21px;
    line-height: 42px;
}

h1 {
    font-size: 37px;
}

h2 {
    padding: 0 6px 6px 6px;
    height: 39px;
    border-radius: 0 0 12px 12px;
}

header:hover h1,
header:hover h2 {
    -moz-animation: tree-sign-3 2s 1 ease-out;
    -o-animation: tree-sign-3 2s 1 ease-out;
    -webkit-animation: tree-sign-3 2s 1 ease-out;
    animation: tree-sign-3 2s 1 ease-out;
}

.intro::before {
    height: 90px;
}

/** $sidebar */

.wrapper {
    -moz-transform: rotateY(25deg) translate(-75%, -12.5%) scale(0.75);
    -ms-transform: translate(-80px, 0) scale(1);
    -o-transform: rotateY(25deg) translate(-75%, -12.5%) scale(0.75);
    -webkit-transform: rotateY(25deg) translate(-75%, -12.5%) scale(0.75);
    transform: rotateY(25deg) translate(-75%, -12.5%) scale(0.75);
}

.sidebar:hover .wrapper {
    -moz-transform: rotateY(80deg) translate(15%, 0) scale(1.2);
    -ms-transform: translate(-15px, 0) scale(1);
    -o-transform: rotateY(80deg) translate(15%, 0) scale(1.2);
    -webkit-transform: rotateY(80deg) translate(15%, 0) scale(1.2);
    transform: rotateY(80deg) translate(15%, 0) scale(1.2);
}
