/**
* all and (min-width: 400px)
*
* Anything more than 400px.
*/

html {
    width: 100%;
    height: 100%;
    background: url(bg1.svg) no-repeat left 0 top 0, url(bg.png) no-repeat right 0 bottom 0;
    background-color: #333;
    background-attachment: fixed, fixed;
    -moz-background-size: cover, 100% auto;
    -o-background-size: cover, 100% auto;
    -webkit-background-size: cover, 100% auto;
    background-size: cover, 100% auto;
}

.page-wrapper::before,
.page-wrapper::after {
    position: absolute;
    left: 0;
    width: 100%;
    background: transparent url(layer2.svg) no-repeat center top;
    -moz-background-size: 360px auto;
    -o-background-size: 360px auto;
    -webkit-background-size: 360px auto;
    background-size: 360px auto;
    content: '';
}

.page-wrapper::before {
    top: -30px;
    height: 30px;
    background-position: center top;
}

.page-wrapper::after {
    bottom: -33px;
    height: 33px;
    background-position: center bottom;
}

.page-wrapper {
    position: relative;
    margin: 40px auto 200px auto;
    padding: 0 50px 15px 53px;
    width: 280px;
    background: url(layer3.svg) repeat-y center top;
    -moz-background-size: 360px auto;
    -o-background-size: 360px auto;
    -webkit-background-size: 360px auto;
    background-size: 360px auto;
    -moz-transition: margin 1s ease-out;
    -o-transition: margin 1s ease-out;
    -webkit-transition: margin 1s ease-out;
    transition: margin 1s ease-out;
}

/** $intro */

h1 {
    padding-top: 15px;
}
