/**
* all and (min-width: 600px)
*
* Anything more than 600px.
*/

.page-wrapper::before,
.page-wrapper::after {
    -moz-background-size: 560px auto;
    -o-background-size: 560px auto;
    -webkit-background-size: 560px auto;
    background-size: 560px auto;
}

.page-wrapper::before {
    top: -50px;
    height: 50px;
}

.page-wrapper::after {
    bottom: -50px;
    height: 50px;
}

.page-wrapper {
    margin: 60px auto 240px auto;
    padding: 0 70px 15px 73px;
    width: 440px;
    -moz-background-size: 560px auto;
    -o-background-size: 560px auto;
    -webkit-background-size: 560px auto;
    background-size: 560px auto;
}
