/**
* all and (min-width: 800px)
*
* Anything more than 800px.
*/

/** reset */

html {
    width: 100%;
    height: 100%;
    background: url(bg1.svg) no-repeat left top, url(bg2.svg) no-repeat right top, url(bg.png) no-repeat right bottom;
    background-color: #333;
    background-attachment: fixed;
    -moz-background-size: cover, cover, 100% auto;
    -o-background-size: cover, cover, 100% auto;
    -webkit-background-size: cover, cover, 100% auto;
    background-size: cover, cover, 100% auto;
}

body {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
}

p {
    padding: 10px 60px;
}

/** transitions */

.preamble {
    -moz-transition: -moz-transform 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    -o-transition: -o-transform 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    -webkit-transition: -webkit-transform 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    transition: transform 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
}

header,
.summary {
    -moz-transition: -moz-transform 1s 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    -o-transition: -o-transform 1s 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    -webkit-transition: -webkit-transform 1s 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    transition: transform 1s 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
}

.explanation,
.participation,
.benefits,
.requirements {
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

h1,
h2 {
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    -webkit-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.preamble:hover a,
.summary:hover a {
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    -webkit-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.wrapper,
.main div[role="article"] {
    -moz-transition: -moz-transform 1s ease-out, left 1s ease-out, right 1s ease-out, top 1s 1s ease-out, margin-top 1s 1s ease-out;
    -o-transition: -o-transform 1s ease-out, left 1s ease-out, right 1s ease-out, top 1s 1s ease-out, margin-top 1s 1s ease-out;
    -webkit-transition: -webkit-transform 1s ease-out, left 1s ease-out, right 1s ease-out, top 1s 1s ease-out, margin-top 1s 1s ease-out;
    transition: transform 1s ease-out, left 1s ease-out, right 1s ease-out, top 1s 1s ease-out, margin-top 1s 1s ease-out;
}

/** reset margins for all containers */

.intro,
header,
.summary,
.preamble,
.main,
.explanation,
.participation,
.benefits,
.requirements,
footer,
.sidebar {
    margin: 0;
}

/** reset page-wrapper */

.summary,
.preamble,
.main,
.wrapper {
    position: absolute;
    display: block;
}

.page-wrapper {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

    .page-wrapper::before,
    .page-wrapper::after {
        display: none;
    }

/** $intro */

.intro {
    padding: 0;
    background: transparent;
    z-index: 3;
}

    .intro h3,
    .intro p {
        padding: 10px 80px;
    }

    .intro p {
        -moz-hyphens: none;
        -ms-hyphens: none;
        -webkit-hyphens: none;
        hyphens: none;
    }

    .intro h3 {
        padding-top: 60px;
    }

header::before {
    position: absolute;
    top: -330px;
    left: 0;
    z-index: -1;
    display: block;
    width: 400px;
    height: 380px;
    background: url(hook1.svg) no-repeat 50% top;
    content: '';
}

header {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 4;
    display: block;
    margin: 0 0 0 -190px;
    padding: 0;
    width: 400px;
    height: 300px;
    background: url(layer1.svg) no-repeat center bottom;
    background-color: transparent;
    -moz-background-size: 400px 300px;
    -o-background-size: 400px 300px;
    -webkit-background-size: 400px 300px;
    background-size: 400px 300px;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

    header:hover {
        top: 190px;
        margin: 0 0 0 -190px;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

h1,
h2 {
    position: absolute;
    left: 0;
    display: inline-block;
    padding: 20px 0;
    width: 400px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    line-height: 34px;
}

h1 {
    top: 45px;
    padding: 40px 90px;
    max-width: 220px;
    font-size: 50px;
    line-height: 44px;
}

h2 {
    bottom: 55px;
}

.intro a {
    background-color: #999;
}

.preamble:hover a,
.summary:hover a {
    background-color: #fff;
}

.preamble,
.summary {
    position: absolute;
    top: 0;
}

    .preamble::before {
        position: absolute;
        top: -260px;
        left: 0;
        z-index: -1;
        display: block;
        width: 506px;
        height: 380px;
        background: url(hook1.svg) no-repeat 50% top;
        content: '';
    }

.preamble {
    top: -460px;
    left: -70px;
    z-index: 5;
    margin: 0;
    padding: 0;
    width: 510px;
    background: transparent url(layer2.svg) no-repeat 50% bottom;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    color: #999;
    -moz-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    -ms-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    -o-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    -webkit-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    transform: rotate(-5deg) skew(-5deg) scale(0.8);
}

    .preamble:hover {
        top: 120px;
        left: 0;
        margin: 0;
        color: #fff;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: rotateY(0) scale(1);
    }

.summary::before {
    position: absolute;
    top: -260px;
    left: 0;
    z-index: -1;
    display: block;
    width: 460px;
    height: 380px;
    background: url(hook2.svg) no-repeat 50% top;
    content: '';
}

.summary {
    top: -180px;
    right: -46px;
    z-index: 6;
    margin: 0;
    padding: 0;
    width: 460px;
    background: transparent url(layer1.svg) no-repeat 50% bottom;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    color: #999;
    -moz-transform: rotate(5deg) skew(5deg) scale(0.8);
    -ms-transform: rotate(5deg) skew(5deg) scale(0.8);
    -o-transform: rotate(5deg) skew(5deg) scale(0.8);
    -webkit-transform: rotate(5deg) skew(5deg) scale(0.8);
    transform: rotate(5deg) skew(5deg) scale(0.8);
}

    .summary:hover {
        top: 140px;
        right: 0;
        margin: 0;
        color: #fff;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: rotateY(0) scale(1);
    }

.intro,
.preamble,
.summary {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .preamble h3 {
        text-align: center;
        font-size: 30px;
        line-height: 30px;
    }

    .intro p:last-child {
        padding-bottom: 60px;
    }

    .intro .summary p:first-child {
        padding-top: 75px;
    }

    .intro .summary p:last-child {
        padding: 10px 80px 75px 80px;
        text-align: center;
    }

    .intro p:first-child {
        padding-top: 60px;
    }

/** $main */

.main {
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective-origin: right center;
    perspective: 1000px;
    -ms-perspective-origin: right center;
    -webkit-perspective-origin: right center;
    perspective-origin: right center;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

    .main div[role="article"] {
        position: absolute;
        top: 50%;
        right: -80px;
        margin-top: -230px;
        padding: 55px 70px 50px 70px;
        width: 460px;
        height: 355px;
        background: url(layer1.svg) no-repeat left center;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        -moz-transform: rotateY(-45deg) scale(1);
        -ms-transform: translate(-80px, 0) scale(1);
        -o-transform: rotateY(-45deg) scale(1);
        -webkit-transform: rotateY(-45deg) scale(1);
        transform: rotateY(-45deg) scale(1);
    }

        .main div[role="article"] p {
            position: absolute;
            padding: 10px 0;
            width: 460px;
        }

        .main div[role="article"].requirements p:nth-child(6) {
            padding: 10px 50px;
            width: 340px;
            text-align: center;
            line-height: 20px;
        }

            .main div[role="article"].requirements p:nth-child(6) a {
                line-height: 18px;
            }

        .main div[role="article"] h3 {
            padding-top: 0;
            font-size: 36px;
            line-height: 40px;
        }

footer {
    position: fixed;
    top: 45%;
    right: -10px;
    z-index: 2;
    display: block;
    margin-top: -225px;
    padding: 0;
    width: 75px;
    height: 450px;
    border: none;
    border-radius: 20px;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.zen-validate-html,
.zen-validate-css,
.zen-license,
.zen-github,
.zen-accessibility {
    position: relative;
    overflow: hidden;
    padding: 0;
    height: 75px;
    border: none;
    background: transparent url(footer.svg) no-repeat 0 0;
    -moz-background-size: auto 375px;
    -o-background-size: auto 375px;
    -webkit-background-size: auto 375px;
    background-size: auto 375px;
    text-indent: 100%;
}

.zen-validate-html {
    background-position: 0 0;
}

.zen-validate-css {
    background-position: 0 -75px;
}

.zen-github {
    background-position: 0 -150px;
}

.zen-accessibility {
    background-position: 0 -225px;
}

.zen-license {
    background-position: 0 -300px;
}

footer a::after {
    display: none;
}

/** $sidebar */

.sidebar {
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    background: transparent;
}

.wrapper {
    z-index: 2;
    top: 60%;
    left: -80px;
    margin-top: -280px;
    padding-bottom: 0;
    -moz-transform: rotateY(45deg) scale(1);
    -ms-transform: translate(80px, 0) scale(1);
    -o-transform: rotateY(45deg) scale(1);
    -webkit-transform: rotateY(45deg) scale(1);
    transform: rotateY(45deg) scale(1);
}

    .wrapper:hover {
        top: 100%;
        left: 0;
        margin-top: -560px;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .wrapper li,
    .wrapper h3 {
        position: relative;
        z-index: 2;
        padding: 0 10px;
        height: 50px;
        white-space: nowrap;
        line-height: 50px;
    }

        .wrapper h3 + nav,
        .wrapper h3 + ul {
            padding-top: 0;
        }

    .wrapper li {
        font-size: 14px;
        line-height: 14px;
    }

/*
.wrapper {
    background: purple;
}

.wrapper li {
    background: yellow;
}

.wrapper li:nth-child(2n+1) {
    background: red;
}

.design-archives li:nth-child(2n+1) a, .zen-resources li:nth-child(2n+1) a {
    background-color: #666;
}
*/

.design-archives ul li,
.zen-resources ul li {
    padding: 0;
}

.wrapper h3 {
    height: 50px;
    text-align: left;
}

.design-selection::before,
.main div[role="article"]::before {
    position: absolute;
    top: -690px;
    left: 0;
    width: 100%;
    height: 700px;
    z-index: -1;
    background: transparent url(hook3.svg) no-repeat center bottom;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    content: '';
}

.design-selection {
    padding: 55px 52px 45px 52px;
    width: 630px;
    background: url(layer1.svg) no-repeat left center;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

    .design-selection li {
        width: 380px;
    }

        .design-selection li a.design-name {
            display: block;
            float: left;
            padding-right: 4px;
            height: 20px;
            font-size: 14px;
            line-height: 14px;
        }

        .design-selection li a.designer-name {
            position: absolute;
            top: 16px;
            left: 10px;
            padding: 0 1px;
            width: 378px;
            height: 27px;
            background: #000;
            background: -moz-linear-gradient(top, #111 45%, #111 45%, #111 50%, transparent 50%, transparent 55%, #111 55%, #111 100%);
            background: -webkit-linear-gradient(top,#111 45%, #111 45%, #111 50%, transparent 50%, transparent 55%, #111 55%, #111 100%);
            background: -o-linear-gradient(top, #111 45%, #111 45%, #111 50%, transparent 50%, transparent 55%, #111 55%, #111 100%);
            background: -ms-linear-gradient(top, #111 45%, #111 45%, #111 50%, transparent 50%, transparent 55%, #111 55%, #111 100%);
            background: linear-gradient(to bottom, #111 45%, #111 45%, #111 50%, transparent 50%, transparent 55%, #111 55%, #111 100%);
            color: rgba(255,255,255,.95);
            text-indent: 100%;
            -webkit-text-shadow: 0 0 4px black;
            text-shadow: 0 0 4px black;
            white-space: nowrap;
            font-size: 25px;
            line-height: 25px;
            -moz-animation: marquee 12s infinite linear;
            -o-animation: marquee 12s infinite linear;
            -webkit-animation: marquee 12s infinite linear;
            animation: marquee 12s infinite linear;
        }

        .design-selection li:nth-child(2) a.designer-name {
            -moz-animation-delay: .1s;
            -o-animation-delay: .1s;
            -webkit-animation-delay: .1s;
            animation-delay: .1s;
        }

        .design-selection li:nth-child(3) a.designer-name {
            -moz-animation-duration: 8s;
            -o-animation-duration: 8s;
            -webkit-animation-duration: 8s;
            animation-duration: 8s;
            -moz-animation-delay: .2s;
            -o-animation-delay: .2s;
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
        }

        .design-selection li:nth-child(4) a.designer-name {
            -moz-animation-delay: .3s;
            -o-animation-delay: .3s;
            -webkit-animation-delay: .3s;
            animation-delay: .3s;
        }

        .design-selection li:nth-child(5) a.designer-name {
            -moz-animation-duration: 7s;
            -o-animation-duration: 7s;
            -webkit-animation-duration: 7s;
            animation-duration: 7s;
            -moz-animation-delay: .4s;
            -o-animation-delay: .4s;
            -webkit-animation-delay: .4s;
            animation-delay: .4s;
        }

        .design-selection li:nth-child(6) a.designer-name {
            -moz-animation-delay: .5s;
            -o-animation-delay: .5s;
            -webkit-animation-delay: .5s;
            animation-delay: .5s;
        }

        .design-selection li:nth-child(7) a.designer-name {
            -moz-animation-duration: 9s;
            -o-animation-duration: 9s;
            -webkit-animation-duration: 9s;
            animation-duration: 9s;
            -moz-animation-delay: .2s;
            -o-animation-delay: .2s;
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
        }

        .design-selection li:nth-child(8) a.designer-name {
            -moz-animation-delay: .1s;
            -o-animation-delay: .1s;
            -webkit-animation-delay: .1s;
            animation-delay: .1s;
        }

        .design-selection li a.designer-name:hover {
            -moz-animation-play-state: paused;
            -o-animation-play-state: paused;
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }

.design-archives,
.zen-resources {
    position: absolute;
    top: 0;
    left: 458px;
    padding: 55px 52px 45px 0;
    width: 204px;
}

.zen-resources {
    top: 150px;
    background-position: right bottom;
}

    .design-archives ul li,
    .zen-resources ul li {
        position: relative;
        min-width: 200px;
        font-size: 22px;
    }

    .design-archives h3,
    .zen-resources h3 {
        text-align: center;
    }

    .zen-resources .view-css a {
        white-space: normal;
        line-height: 25px;
    }

    .design-archives a,
    .zen-resources a {
        line-height: 50px;
    }

/** animations */

.main .explanation {
    -moz-animation: slider-explanation 100s infinite linear;
    -o-animation: slider-explanation 100s infinite linear;
    -webkit-animation: slider-explanation 100s infinite linear;
    animation: slider-explanation 100s infinite linear;
}

    .main .explanation p:nth-child(2) {
        -moz-animation: slider-explanation-p2 100s infinite linear;
        -o-animation: slider-explanation-p2 100s infinite linear;
        -webkit-animation: slider-explanation-p2 100s infinite linear;
        animation: slider-explanation-p2 100s infinite linear;
    }

    .main .explanation p:nth-child(3) {
        -moz-animation: slider-explanation-p3 100s infinite linear;
        -o-animation: slider-explanation-p3 100s infinite linear;
        -webkit-animation: slider-explanation-p3 100s infinite linear;
        animation: slider-explanation-p3 100s infinite linear;
    }

.main .participation {
    -moz-animation: slider-participation 100s infinite linear;
    -o-animation: slider-participation 100s infinite linear;
    -webkit-animation: slider-participation 100s infinite linear;
    animation: slider-participation 100s infinite linear;
}

    .main .participation p:nth-child(2) {
        -moz-animation: slider-participation-p2 100s infinite linear;
        -o-animation: slider-participation-p2 100s infinite linear;
        -webkit-animation: slider-participation-p2 100s infinite linear;
        animation: slider-participation-p2 100s infinite linear;
    }

    .main .participation p:nth-child(3) {
        -moz-animation: slider-participation-p3 100s infinite linear;
        -o-animation: slider-participation-p3 100s infinite linear;
        -webkit-animation: slider-participation-p3 100s infinite linear;
        animation: slider-participation-p3 100s infinite linear;
    }

    .main .participation p:nth-child(4) {
        -moz-animation: slider-participation-p4 100s infinite linear;
        -o-animation: slider-participation-p4 100s infinite linear;
        -webkit-animation: slider-participation-p4 100s infinite linear;
        animation: slider-participation-p4 100s infinite linear;
    }

.main .benefits,
.main .benefits p:nth-child(2) {
    -moz-animation: slider-benefits 100s infinite linear;
    -o-animation: slider-benefits 100s infinite linear;
    -webkit-animation: slider-benefits 100s infinite linear;
    animation: slider-benefits 100s infinite linear;
}

.main .requirements {
    -moz-animation: slider-requirements 100s infinite linear;
    -o-animation: slider-requirements 100s infinite linear;
    -webkit-animation: slider-requirements 100s infinite linear;
    animation: slider-requirements 100s infinite linear;
}

    .main .requirements p:nth-child(2) {
        -moz-animation: slider-requirements-p2 100s infinite linear;
        -o-animation: slider-requirements-p2 100s infinite linear;
        -webkit-animation: slider-requirements-p2 100s infinite linear;
        animation: slider-requirements-p2 100s infinite linear;
    }

    .main .requirements p:nth-child(3) {
        -moz-animation: slider-requirements-p3 100s infinite linear;
        -o-animation: slider-requirements-p3 100s infinite linear;
        -webkit-animation: slider-requirements-p3 100s infinite linear;
        animation: slider-requirements-p3 100s infinite linear;
    }

    .main .requirements p:nth-child(4) {
        -moz-animation: slider-requirements-p4 100s infinite linear;
        -o-animation: slider-requirements-p4 100s infinite linear;
        -webkit-animation: slider-requirements-p4 100s infinite linear;
        animation: slider-requirements-p4 100s infinite linear;
    }

    .main .requirements p:nth-child(5) {
        -moz-animation: slider-requirements-p5 100s infinite linear;
        -o-animation: slider-requirements-p5 100s infinite linear;
        -webkit-animation: slider-requirements-p5 100s infinite linear;
        animation: slider-requirements-p5 100s infinite linear;
    }

    .main .requirements p:nth-child(6) {
        -moz-animation: slider-requirements-p6 100s infinite linear;
        -o-animation: slider-requirements-p6 100s infinite linear;
        -webkit-animation: slider-requirements-p6 100s infinite linear;
        animation: slider-requirements-p6 100s infinite linear;
    }
