/**
* base
*
* The base styles apply to all browsers (including older browsers that don’t support media queries). 
*/

/** reset + basic */

html,
body,
div,
section,
header,
h1,
h2,
h3,
abbr,
p,
a,
footer,
aside,
nav,
ul,
li {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
    list-style: none;
}

html {
    background: #000;
    background-attachment: fixed;
}

body {
    overflow: auto;
    padding: 0 0 25px 0;
    min-width: 220px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-family: 'open_sansbold', sans-serif;
    line-height: 23px;
}

h1,
h2,
h3 {
    display: block;
    text-align: center;
    font-weight: bold;
}

p {
    padding: 15px 15px 0 15px;
    text-align: justify;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

abbr {
    border-bottom-width: 0;
    font-weight: bold;
}

/** $intro */

h1,
h2,
h3 {
    display: block;
    padding: 20px 15px 0 15px;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 23px;
    font-family: 'open_sansextrabold', sans-serif;
    line-height: 23px;
}

h1 {
    font-size: 46px;
    line-height: 46px;
}

h2 {
    padding-top: 20px;
    font-size: 28px;
    line-height: 28px;
}

h3 + nav,
h3 + ul {
    padding-top: 10px;
}

a {
    display: inline-block;
    padding: 0 4px;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    line-height: 21px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.summary p + p {
    text-align: center;
}

/** $main */

.zen-validate-html,
.zen-validate-css,
.zen-license,
.zen-github,
.zen-accessibility {
    display: block;
    padding: 10px 15px 0 15px;
}

.zen-validate-html {
    padding-top: 20px;
}

footer a {
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    line-height: 18px;
}

    footer a::after {
        display: block;
        padding: 2px 4px;
        border-radius: 2px;
        background: white;
        color: #000;
        content: attr(title);
        font-size: 18px;
        line-height: 18px;
    }

/** $sidebar */

.wrapper li,
.wrapper h3 {
    display: block;
}

.design-selection li {
    padding: 10px 15px 0 15px;
    line-height: 18px;
}

    .design-selection li a.design-name,
    .design-archives a,
    .zen-resources a {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        color: #fff;
        line-height: 18px;
    }

    .design-selection li a.designer-name {
        display: block;
        overflow: hidden;
        padding: 2px 4px;
        border-radius: 2px;
        line-height: 18px;
    }

.design-archives ul li,
.zen-resources ul li {
    padding: 5px 15px 0 15px;
}

.design-archives a,
.zen-resources a {
    display: block;
    text-align: center;
}
