/**
* base
*
* The base styles apply to all browsers (including older browsers that don’t support media queries). 
*/

/** reset + basic */

html,
body,
div,
section,
header,
h1,
h2,
h3,
abbr,
p,
a,
footer,
aside,
nav,
ul,
li {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
    list-style: none;
}

html {
    background: #8ca4c5;
}

body {
    overflow: auto;
    min-width: 260px;
    border: none;
}

h1,
h2,
h3 {
    display: block;
    text-align: center;
    font-weight: bold;
}

p {
    padding: 15px;
    text-align: center;
}

abbr {
    border-bottom-width: 0;
    font-weight: bold;
}

/** $intro */

header {
    padding-top: 15px;
    border-top: solid 5px black;
    background: #201b14;
}

h1,
h2 {
    display: block;
    background: #201b14;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 23px;
    font-family: 'sf_wasabiregular', sans-serif;
    line-height: 30px;
}

h1 {
    font-size: 46px;
    line-height: 54px;
}

h2 {
    padding: 10px 0 15px 0;
}

.intro p,
.intro a {
    text-decoration: overline;
    font-size: 18px;
    line-height: 25px;
}

.intro a {
    display: inline-block;
    padding: 0 8px;
    background-color: #000;
    color: #ff9d28;
    text-decoration: none;
    line-height: 21px;
}

.preamble,
.summary {
    display: block;
    padding: 0 0 5px 0;
    border-top: solid 5px black;
    color: #111;
    font-family: 'open_sansbold', sans-serif;
    cursor: default;
}

.summary {
    background-color: #ff9d28;
}

.preamble {
    background: #efefef;
}

    .preamble p {
        padding: 15px 15px 5px 15px;
        background: transparent;
        text-align: justify;
    }

    .preamble h3 {
        padding: 15px 0;
        border-bottom: solid 5px black;
        background-color: #cdab04;
        font-size: 24px;
        font-family: 'open_sansextrabold', sans-serif;
        line-height: 30px;
    }

        .preamble h3 + p {
            padding-top: 25px;
        }

.intro p:first-child {
    padding-top: 25px;
}

/** $main */

.main div[role="article"],
.explanation,
.participation,
.benefits,
.requirements {
    padding-bottom: 10px;
    border-top: solid 5px black;
    background: #efefef;
    color: #000;
    font-size: 16px;
    font-family: 'kontrapunktlight', sans-serif;
}

    .main div[role="article"] a,
    .explanation a,
    .participation a,
    .benefits a,
    .requirements a {
        display: inline-block;
        padding: 0 4px;
        background-color: #666;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }

        .main div[role="article"] a:hover,
        .main div[role="article"] a:focus,
        .main div[role="article"] a:active {
            background-color: #333;
        }

    .main div[role="article"] p {
        padding: 10px 30px;
        line-height: 18px;
    }

    .main div[role="article"].explanation p {
        padding: 10px 20px;
    }

    .main div[role="article"].requirements p:nth-child(3) {
        padding: 10px 5px;
    }

    .main div[role="article"] h3,
    .explanation h3,
    .participation h3,
    .benefits h3,
    .requirements h3 {
        padding-top: 10px;
        font-size: 24px;
    }

footer {
    display: block;
    padding: 0;
    border-top: solid 5px black;
    background-color: #ce8306;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'open_sansbold', sans-serif;
}

.zen-validate-html,
.zen-validate-css,
.zen-license,
.zen-github,
.zen-accessibility {
    display: block;
    padding: 10px 20px;
    border-bottom: solid 5px black;
    color: black;
    text-decoration: none;
    text-transform: none;
    font-size: 20px;
}

.zen-github {
    border: none;
}

footer a::after {
    display: block;
    padding: 6px 12px;
    border: 2px solid black;
    background: white;
    content: attr(title);
}

/** $sidebar */

.wrapper li,
.wrapper h3 {
    display: block;
    padding: 0 5px;
    border-top: solid 5px black;
    background: white;
    color: #000;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 20px;
}

.wrapper li {
    padding: 10px 5px;
}

    .wrapper li.zen-translations {
        border-top: solid 5px black;
    }

    .wrapper li.zen-faq {
        background: #ac2864;
    }

.wrapper h3 {
    height: 54px;
    background: #0077bb;
    color: #fff;
    text-align: center;
    text-transform: none;
    font-size: 30px;
    line-height: 54px;
}

.design-selection li {
    padding: 5px;
    text-transform: none;
}

    .design-selection li a.design-name {
        color: #000;
        text-decoration: none;
        text-transform: none;
        white-space: nowrap;
        font-weight: bold;
        font-size: 18px;
        font-family: Arial, sans-serif;
        line-height: 20px;
    }

    .design-selection li a.designer-name {
        display: block;
        overflow: hidden;
        margin: 3px 0 0 0;
        padding: 0 0 0 3px;
        background: #333;
        color: yellow;
        text-decoration: none;
        white-space: normal;
        font-weight: normal;
        font-size: 30px;
        font-family: 'jeanlucweb-Thin', sans-serif;
        line-height: 30px;
    }

.design-archives ul li,
.zen-resources ul li {
    padding: 0 13px;
    background: #fff;
    white-space: normal;
}

.design-archives a,
.zen-resources a {
    display: block;
    text-align: center;
    line-height: 50px;
}

.design-archives a {
    color: #000;
    text-decoration: none;
}

.zen-resources a {
    color: #000;
    text-decoration: none;
}

.zen-faq a {
    color: #fff;
    text-decoration: none;
}
