/**
* all and (min-width: 800px)
*
* Anything more than 800px.
*
* http://www.browserhacks.com/
*/

@-ms-viewport { width: device-width; }

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 800px) {

    body:before {
        content: '';
        padding: 0;
        display: none;
    }

    /** $intro */

    .intro:hover ~ .sidebar {
        background-position: right -60px bottom 0, right -60px bottom 0, right -60px bottom 0;
    }

    /** $main */

    .main {
        bottom: 260px;
        width: 440px;
        height: 300px;
        right: 86px;
        margin-right: -60px;
        overflow-x: visible;
        overflow-y: visible;
    }

        .main:hover ~ .sidebar {
            background-position: right -10px bottom 0, right 0 bottom 0, right -10px bottom 0;
        }

        .main div[role="article"] {
            height: 100%;
        }

            .main div[role="article"] h3 {
                padding: 0;
                font-size: 36px;
                line-height: 40px;
            }

            .main div[role="article"],
            .main div[role="article"] p {
                position: absolute;
                opacity: 0;
                visibility: hidden;
            }

            .main div[role="article"].requirements,
            .main div[role="article"].requirements p:nth-child(6) {
                opacity: 1;
                visibility: visible;
            }

    footer {
        position: fixed;
        right: -10px;
        margin: -225px 0 0 0;
        width: 75px;
        height: 450px;
    }

    .zen-validate-html,
    .zen-validate-css,
    .zen-license,
    .zen-github,
    .zen-accessibility {
        position: relative;
        clear: left;
        width: 75px;
    }

    /** $sidebar */

    .sidebar {
        background-image: url(sidebar11.svg), url(sidebar12.svg), url(sidebar.svg);
        background-position: right -60px bottom 0, right -60px bottom 0, right -60px bottom 0;
    }

        .sidebar:hover {
            background-position: right -60px bottom 0, right -60px bottom 0, right -60px bottom 0;
        }

    .design-selection li a.designer-name {
        text-indent: 100%;
    }
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1367px) {

    /** $main */

    .main {
        bottom: 309px;
        width: 440px;
        height: 300px;
        right: 125px;
    }

    footer {
        right: -12px;
        margin: -225px 0 0 0;
        width: 90px;
        height: 450px;
    }

    .zen-validate-html,
    .zen-validate-css,
    .zen-license,
    .zen-github,
    .zen-accessibility {
        width: 90px;
    }
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1532px) {

    /** $main */

    .main {
        bottom: 361px;
        width: 440px;
        height: 300px;
        right: 162px;
    }

    footer {
        right: -12px;
        margin: -262px 0 0 0;
        width: 105px;
        height: 525px;
    }

    .zen-validate-html,
    .zen-validate-css,
    .zen-license,
    .zen-github,
    .zen-accessibility {
        width: 105px;
    }
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1710px) {

    /** $main */

    .main {
        bottom: 460px;
        width: 440px;
        height: 300px;
        right: 238px;
    }

    footer {
        right: -15px;
        margin: -300px 0 0 0;
        width: 120px;
        height: 600px;
    }       

    .zen-validate-html,
    .zen-validate-css,
    .zen-license,
    .zen-github,
    .zen-accessibility {
        width: 120px;
    }
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1095px) {
    .main {
        right: 86px;
    }
    .sidebar {
        width: 100%;
    }
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 900px) {
    .main {
        right: 86px;
    }
    .sidebar {
        width: 100%;
    }
}



























