/**
* all and (min-width: 800px)
*
* Anything more than 800px.
*
* http://www.browserhacks.com/
*/

@media all and (-webkit-min-device-pixel-ratio: 0) { 

    ::sidebar, .sidebar {
        background: url(sidebar11.svg) no-repeat right bottom, url(sidebar12.svg) no-repeat right bottom, url(sidebar.svg) no-repeat right bottom;
    }

    ::sidebar, .sidebar:hover, .intro:hover ~ .sidebar, .main:hover ~ .sidebar {
        background-position: right bottom, right bottom, right bottom;
    }

    ::main, .main {
        margin-right: 0;
    }
}