@-webkit-keyframes main {
    0% {
        z-index: 2;
    }

    90%, 100% {
        z-index: 3;
    }
}

@-moz-keyframes main {
    0% {
        z-index: 2;
    }

    90%, 100% {
        z-index: 3;
    }
}

@keyframes main {
    0% {
        z-index: 2;
    }

    90%, 100% {
        z-index: 3;
    }
}

@-webkit-keyframes pulse {
    0%, 25%, 50% {
        opacity: 0;
    }

    2.5%, 22.5%, 5%, 45% {
        opacity: .1;
    }

    5%, 20%, 10%, 40% {
        opacity: .6;
    }

    7.5%, 17.5%, 15%, 35% {
        opacity: .65;
    }

    10%, 15%, 20%, 30% {
        opacity: .7;
    }

    12.5%, 25% {
        opacity: .75;
    }
}

@-moz-keyframes pulse {
    0%, 25%, 50% {
        opacity: 0;
    }

    2.5%, 22.5%, 5%, 45% {
        opacity: .1;
    }

    5%, 20%, 10%, 40% {
        opacity: .6;
    }

    7.5%, 17.5%, 15%, 35% {
        opacity: .65;
    }

    10%, 15%, 20%, 30% {
        opacity: .7;
    }

    12.5%, 25% {
        opacity: .75;
    }
}

@keyframes pulse {
    0%, 25%, 50% {
        opacity: 0;
    }

    2.5%, 22.5%, 5%, 45% {
        opacity: .1;
    }

    5%, 20%, 10%, 40% {
        opacity: .6;
    }

    7.5%, 17.5%, 15%, 35% {
        opacity: .65;
    }

    10%, 15%, 20%, 30% {
        opacity: .7;
    }

    12.5%, 25% {
        opacity: .75;
    }
}

@-webkit-keyframes marquee {
    0% {
        text-indent: 100%;
    }

    80% {
        text-indent: 0;
    }

    100% {
        text-indent: -200%;
    }
}

@-moz-keyframes marquee {
    0% {
        text-indent: 100%;
    }

    80% {
        text-indent: 0;
    }

    100% {
        text-indent: -200%;
    }
}

@keyframes marquee {
    0% {
        text-indent: 100%;
    }

    80% {
        text-indent: 0;
    }

    100% {
        text-indent: -200%;
    }
}

@-webkit-keyframes tree {
    from {
        background-position: center top, center top;
    }

    10% {
        background-position: center top, right top;
    }

    20% {
        background-position: center top, left top;
    }

    30% {
        background-position: center top, 90% top;
    }

    40% {
        background-position: center top, 10% top;
    }

    50% {
        background-position: center top, 60% top;
    }

    60% {
        background-position: center top, 40% top;
    }

    70% {
        background-position: center top, 55% top;
    }

    80% {
        background-position: center top, 45% top;
    }

    to {
        background-position: center top, center top;
    }
}

@-moz-keyframes tree {
    from {
        background-position: center top, center top;
    }

    10% {
        background-position: center top, right top;
    }

    20% {
        background-position: center top, left top;
    }

    30% {
        background-position: center top, 90% top;
    }

    40% {
        background-position: center top, 10% top;
    }

    50% {
        background-position: center top, 60% top;
    }

    60% {
        background-position: center top, 40% top;
    }

    70% {
        background-position: center top, 55% top;
    }

    80% {
        background-position: center top, 45% top;
    }

    to {
        background-position: center top, center top;
    }
}

@keyframes tree {
    from {
        background-position: center top, center top;
    }

    10% {
        background-position: center top, right top;
    }

    20% {
        background-position: center top, left top;
    }

    30% {
        background-position: center top, 90% top;
    }

    40% {
        background-position: center top, 10% top;
    }

    50% {
        background-position: center top, 60% top;
    }

    60% {
        background-position: center top, 40% top;
    }

    70% {
        background-position: center top, 55% top;
    }

    80% {
        background-position: center top, 45% top;
    }

    to {
        background-position: center top, center top;
    }
}

@-webkit-keyframes tree-sign {
    from {
        left: 215px;
    }

    10% {
        left: 260px;
    }

    20% {
        left: 170px;
    }

    30% {
        left: 240px;
    }

    40% {
        left: 190px;
    }

    50% {
        left: 220px;
    }

    60% {
        left: 210px;
    }

    70% {
        left: 218px;
    }

    80% {
        left: 212px;
    }

    to {
        left: 215px;
    }
}

@-moz-keyframes tree-sign {
    from {
        left: 215px;
    }

    10% {
        left: 260px;
    }

    20% {
        left: 170px;
    }

    30% {
        left: 240px;
    }

    40% {
        left: 190px;
    }

    50% {
        left: 220px;
    }

    60% {
        left: 210px;
    }

    70% {
        left: 218px;
    }

    80% {
        left: 212px;
    }

    to {
        left: 215px;
    }
}

@keyframes tree-sign {
    from {
        left: 215px;
    }

    10% {
        left: 260px;
    }

    20% {
        left: 170px;
    }

    30% {
        left: 240px;
    }

    40% {
        left: 190px;
    }

    50% {
        left: 220px;
    }

    60% {
        left: 210px;
    }

    70% {
        left: 218px;
    }

    80% {
        left: 212px;
    }

    to {
        left: 215px;
    }
}

@-webkit-keyframes tree-sign-2 {
    from {
        left: 268px;
    }

    10% {
        left: 325px;
    }

    20% {
        left: 212px;
    }

    30% {
        left: 300px;
    }

    40% {
        left: 237px;
    }

    50% {
        left: 275px;
    }

    60% {
        left: 262px;
    }

    70% {
        left: 272px;
    }

    80% {
        left: 265px;
    }

    to {
        left: 268px;
    }
}

@-moz-keyframes tree-sign-2 {
    from {
        left: 268px;
    }

    10% {
        left: 325px;
    }

    20% {
        left: 212px;
    }

    30% {
        left: 300px;
    }

    40% {
        left: 237px;
    }

    50% {
        left: 275px;
    }

    60% {
        left: 262px;
    }

    70% {
        left: 272px;
    }

    80% {
        left: 265px;
    }

    to {
        left: 268px;
    }
}

@keyframes tree-sign-2 {
    from {
        left: 268px;
    }

    10% {
        left: 325px;
    }

    20% {
        left: 212px;
    }

    30% {
        left: 300px;
    }

    40% {
        left: 237px;
    }

    50% {
        left: 275px;
    }

    60% {
        left: 262px;
    }

    70% {
        left: 272px;
    }

    80% {
        left: 265px;
    }

    to {
        left: 268px;
    }
}

@-webkit-keyframes tree-sign-3 {
    from {
        left: 322px;
    }

    10% {
        left: 390px;
    }

    20% {
        left: 255px;
    }

    30% {
        left: 360px;
    }

    40% {
        left: 285px;
    }

    50% {
        left: 330px;
    }

    60% {
        left: 315px;
    }

    70% {
        left: 327px;
    }

    80% {
        left: 318px;
    }

    to {
        left: 322px;
    }
}

@-moz-keyframes tree-sign-3 {
    from {
        left: 322px;
    }

    10% {
        left: 390px;
    }

    20% {
        left: 255px;
    }

    30% {
        left: 360px;
    }

    40% {
        left: 285px;
    }

    50% {
        left: 330px;
    }

    60% {
        left: 315px;
    }

    70% {
        left: 327px;
    }

    80% {
        left: 318px;
    }

    to {
        left: 322px;
    }
}

@keyframes tree-sign-3 {
    from {
        left: 322px;
    }

    10% {
        left: 390px;
    }

    20% {
        left: 255px;
    }

    30% {
        left: 360px;
    }

    40% {
        left: 285px;
    }

    50% {
        left: 330px;
    }

    60% {
        left: 315px;
    }

    70% {
        left: 327px;
    }

    80% {
        left: 318px;
    }

    to {
        left: 322px;
    }
}

@-webkit-keyframes summary {
    0%, 51%, 100% {
        margin: 20px 0 0 60px;
        -moz-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        -ms-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        -o-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        -webkit-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
    }

    54%, 97% {
        margin: 20px 0 0 60px;
        -moz-transform: translate(20px, -5px) scale(1);
        -ms-transform: translate(20px, -5px) scale(1);
        -o-transform: translate(20px, -5px) scale(1);
        -webkit-transform: translate(20px, -5px) scale(1);
        transform: translate(20px, -5px) scale(1);
    }
}

@-moz-keyframes summary {
    0%, 51%, 100% {
        margin: 20px 0 0 60px;
        -moz-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        -ms-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        -o-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        -webkit-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
    }

    54%, 97% {
        margin: 20px 0 0 60px;
        -moz-transform: translate(20px, -5px) scale(1);
        -ms-transform: translate(20px, -5px) scale(1);
        -o-transform: translate(20px, -5px) scale(1);
        -webkit-transform: translate(20px, -5px) scale(1);
        transform: translate(20px, -5px) scale(1);
    }
}

@keyframes summary {
    0%, 51%, 100% {
        margin: 20px 0 0 60px;
        -moz-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        -ms-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        -o-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        -webkit-transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
        transform: rotate(-6deg) skew(45deg) translate(50px, -225px) scale(0.4);
    }

    54%, 97% {
        margin: 20px 0 0 60px;
        -moz-transform: translate(20px, -5px) scale(1);
        -ms-transform: translate(20px, -5px) scale(1);
        -o-transform: translate(20px, -5px) scale(1);
        -webkit-transform: translate(20px, -5px) scale(1);
        transform: translate(20px, -5px) scale(1);
    }
}

@-webkit-keyframes preamble {
    0%, 100% {
        margin: 30px 60px 0 0;
        -moz-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        -ms-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        -o-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        -webkit-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
    }

    5%, 95% {
        margin: 30px 60px 0 0;
        -moz-transform: translate(-20px, -15px) scale(1);
        -ms-transform: translate(-20px, -15px) scale(1);
        -o-transform: translate(-20px, -15px) scale(1);
        -webkit-transform: translate(-20px, -15px) scale(1);
        transform: translate(-20px, -15px) scale(1);
    }
}

@-moz-keyframes preamble {
    0%, 100% {
        margin: 30px 60px 0 0;
        -moz-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        -ms-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        -o-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        -webkit-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
    }

    5%, 95% {
        margin: 30px 60px 0 0;
        -moz-transform: translate(-20px, -15px) scale(0.9);
        -ms-transform: translate(-20px, -15px) scale(0.9);
        -o-transform: translate(-20px, -15px) scale(0.9);
        -webkit-transform: translate(-20px, -15px) scale(0.9);
        transform: translate(-20px, -15px) scale(0.9);
    }
}

@keyframes preamble {
    0%, 100% {
        margin: 30px 60px 0 0;
        -moz-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        -ms-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        -o-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        -webkit-transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
        transform: rotate(7.5deg) skew(-55deg) translate(-360px, -460px) scale(0.4);
    }

    5%, 95% {
        margin: 30px 60px 0 0;
        -moz-transform: translate(-20px, -15px) scale(0.9);
        -ms-transform: translate(-20px, -15px) scale(0.9);
        -o-transform: translate(-20px, -15px) scale(0.9);
        -webkit-transform: translate(-20px, -15px) scale(0.9);
        transform: translate(-20px, -15px) scale(0.9);
    }
}

@-webkit-keyframes slider-explanation {
    from {
        opacity: 0;
        visibility: hidden;
    }

    57.89% {
        opacity: 0;
        visibility: hidden;
    }

    59.99% {
        opacity: 1;
        visibility: visible;
    }

    97.89% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-explanation {
    from {
        opacity: 0;
        visibility: hidden;
    }

    57.89% {
        opacity: 0;
        visibility: hidden;
    }

    59.99% {
        opacity: 1;
        visibility: visible;
    }

    97.89% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-explanation {
    from {
        opacity: 0;
        visibility: hidden;
    }

    57.89% {
        opacity: 0;
        visibility: hidden;
    }

    59.99% {
        opacity: 1;
        visibility: visible;
    }

    97.89% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes slider-explanation-p2 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    73.33% {
        opacity: 0;
        visibility: hidden;
    }

    74.66% {
        opacity: 1;
        visibility: visible;
    }

    98.66% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-explanation-p2 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    73.33% {
        opacity: 0;
        visibility: hidden;
    }

    74.66% {
        opacity: 1;
        visibility: visible;
    }

    98.66% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-explanation-p2 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    73.33% {
        opacity: 0;
        visibility: hidden;
    }

    74.66% {
        opacity: 1;
        visibility: visible;
    }

    98.66% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes slider-explanation-p3 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    78.94% {
        opacity: 0;
        visibility: hidden;
    }

    79.99% {
        opacity: 1;
        visibility: visible;
    }

    98.94% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-explanation-p3 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    78.94% {
        opacity: 0;
        visibility: hidden;
    }

    79.99% {
        opacity: 1;
        visibility: visible;
    }

    98.94% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-explanation-p3 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    78.94% {
        opacity: 0;
        visibility: hidden;
    }

    79.99% {
        opacity: 1;
        visibility: visible;
    }

    98.94% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@-webkit-keyframes slider-participation {
    from {
        opacity: 0;
        visibility: hidden;
    }

    61.29% {
        opacity: 0;
        visibility: hidden;
    }

    63.22% {
        opacity: 1;
        visibility: visible;
    }

    98.06% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-participation {
    from {
        opacity: 0;
        visibility: hidden;
    }

    61.29% {
        opacity: 0;
        visibility: hidden;
    }

    63.22% {
        opacity: 1;
        visibility: visible;
    }

    98.06% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-participation {
    from {
        opacity: 0;
        visibility: hidden;
    }

    61.29% {
        opacity: 0;
        visibility: hidden;
    }

    63.22% {
        opacity: 1;
        visibility: visible;
    }

    98.06% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes slider-participation-p2 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    82.6% {
        opacity: 0;
        visibility: hidden;
    }

    83.47% {
        opacity: 1;
        visibility: visible;
    }

    99.13% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-participation-p2 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    82.6% {
        opacity: 0;
        visibility: hidden;
    }

    83.47% {
        opacity: 1;
        visibility: visible;
    }

    99.13% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-participation-p2 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    82.6% {
        opacity: 0;
        visibility: hidden;
    }

    83.47% {
        opacity: 1;
        visibility: visible;
    }

    99.13% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes slider-participation-p3 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    85.18% {
        opacity: 0;
        visibility: hidden;
    }

    85.92% {
        opacity: 1;
        visibility: visible;
    }

    99.25% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-participation-p3 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    85.18% {
        opacity: 0;
        visibility: hidden;
    }

    85.92% {
        opacity: 1;
        visibility: visible;
    }

    99.25% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-participation-p3 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    85.18% {
        opacity: 0;
        visibility: hidden;
    }

    85.92% {
        opacity: 1;
        visibility: visible;
    }

    99.25% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes slider-participation-p4 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    87.09% {
        opacity: 0;
        visibility: hidden;
    }

    87.73% {
        opacity: 1;
        visibility: visible;
    }

    99.35% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-participation-p4 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    87.09% {
        opacity: 0;
        visibility: hidden;
    }

    87.73% {
        opacity: 1;
        visibility: visible;
    }

    99.35% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-participation-p4 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    87.09% {
        opacity: 0;
        visibility: hidden;
    }

    87.73% {
        opacity: 1;
        visibility: visible;
    }

    99.35% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@-webkit-keyframes slider-benefits {
    from {
        opacity: 0;
        visibility: hidden;
    }

    88.57% {
        opacity: 0;
        visibility: hidden;
    }

    89.14% {
        opacity: 1;
        visibility: visible;
    }

    99.42% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-benefits {
    from {
        opacity: 0;
        visibility: hidden;
    }

    88.57% {
        opacity: 0;
        visibility: hidden;
    }

    89.14% {
        opacity: 1;
        visibility: visible;
    }

    99.42% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-benefits {
    from {
        opacity: 0;
        visibility: hidden;
    }

    88.57% {
        opacity: 0;
        visibility: hidden;
    }

    89.14% {
        opacity: 1;
        visibility: visible;
    }

    99.42% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@-webkit-keyframes slider-requirements {
    from {
        opacity: 0;
        visibility: hidden;
    }

    63.63% {
        opacity: 0;
        visibility: hidden;
    }

    65.44% {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes slider-requirements {
    from {
        opacity: 0;
        visibility: hidden;
    }

    63.63% {
        opacity: 0;
        visibility: hidden;
    }

    65.44% {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 1;
    }
}

@keyframes slider-requirements {
    from {
        opacity: 0;
        visibility: hidden;
    }

    63.63% {
        opacity: 0;
        visibility: hidden;
    }

    65.44% {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes slider-requirements-p2 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    89.74% {
        opacity: 0;
        visibility: hidden;
    }

    90.25% {
        opacity: 1;
        visibility: visible;
    }

    99.48% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-requirements-p2 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    89.74% {
        opacity: 0;
        visibility: hidden;
    }

    90.25% {
        opacity: 1;
        visibility: visible;
    }

    99.48% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-requirements-p2 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    89.74% {
        opacity: 0;
        visibility: hidden;
    }

    90.25% {
        opacity: 1;
        visibility: visible;
    }

    99.48% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes slider-requirements-p3 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    90.69% {
        opacity: 0;
        visibility: hidden;
    }

    91.15% {
        opacity: 1;
        visibility: visible;
    }

    99.53% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-requirements-p3 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    90.69% {
        opacity: 0;
        visibility: hidden;
    }

    91.15% {
        opacity: 1;
        visibility: visible;
    }

    99.53% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-requirements-p3 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    90.69% {
        opacity: 0;
        visibility: hidden;
    }

    91.15% {
        opacity: 1;
        visibility: visible;
    }

    99.53% {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes slider-requirements-p4 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    91.48% {
        opacity: 0;
        visibility: hidden;
    }

    91.9% {
        opacity: 1;
        visibility: visible;
    }

    99.57% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-requirements-p4 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    91.48% {
        opacity: 0;
        visibility: hidden;
    }

    91.9% {
        opacity: 1;
        visibility: visible;
    }

    99.57% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-requirements-p4 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    91.48% {
        opacity: 0;
        visibility: hidden;
    }

    91.9% {
        opacity: 1;
        visibility: visible;
    }

    99.57% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@-webkit-keyframes slider-requirements-p5 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    92.15% {
        opacity: 0;
        visibility: hidden;
    }

    92.54% {
        opacity: 1;
        visibility: visible;
    }

    99.6% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes slider-requirements-p5 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    92.15% {
        opacity: 0;
        visibility: hidden;
    }

    92.54% {
        opacity: 1;
        visibility: visible;
    }

    99.6% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slider-requirements-p5 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    92.15% {
        opacity: 0;
        visibility: hidden;
    }

    92.54% {
        opacity: 1;
        visibility: visible;
    }

    99.6% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes slider-requirements-p6 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    92.72% {
        opacity: 0;
        visibility: hidden;
    }

    93.08% {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes slider-requirements-p6 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    92.72% {
        opacity: 0;
        visibility: hidden;
    }

    93.08% {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 1;
    }
}

@keyframes slider-requirements-p6 {
    from {
        opacity: 0;
        visibility: hidden;
    }

    92.72% {
        opacity: 0;
        visibility: hidden;
    }

    93.08% {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 1;
    }
}



